<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Entities explained</title>

  <link rel="stylesheet" href="dist/reset.css">
  <link rel="stylesheet" href="dist/reveal.css">
  <link rel="stylesheet" href="dist/theme/solarized.css">

  <!-- Theme used for syntax highlighted code -->
  <link rel="stylesheet" href="plugin/highlight/monokai.css">
  <style>
    .smaller {
      font-size: 30px;
    }
    .hljs-comment {
      color: lightskyblue;
    }
    li {
      margin-bottom: .5rem;
    }
  </style>
</head>
<body>
<div class="reveal">
  <div class="slides">
    <section><h1 class="r-fit-text">Entities <em>Explained</em></h1><p><a href="https://berdir.github.io/entities-explained/">berdir.github.io/entities-explained/</a></p></section>
    <section>
      <h2>About me</h2>
      <ul>
        <li>Sascha Grossenbacher</li>
        <li>https://drupal.org/u/berdir</li>
        <li>Entity system maintainer</li>
        <li>Contrib maintainer: TMGMT, Paragraphs, Token, Pathauto, Redirect, ...</li>
      </ul>
      <ul></ul>
    </section>
    <section><h2>Topics</h2>
      <ul>
        <li>Terminology, concepts</li>
        <li>Basic API</li>
        <li>Content entities, fields and typed data</li>
        <li>Revisions, Content moderation</li>
        <li>Content translation</li>
        <li>Storage</li>
        <li>Displaying entities</li>
        <li>New in Drupal 9.3: Bundle classes</li>
      </ul>
    </section>
    <section>
      <section><h2 class="r-fit-text">Terminology</h2></section>
      <section>
        <h3>Entity type</h3>
        <p>
          A certain type of entities. Also typically used as a variable name for the entity type
          definition, consisting of the ID, labels, handlers and other information
          that makes up an entity type.
        </p>
        <h4>Examples</h4>
        <p>
          Node/Content (node), Term (taxonomy_term), User (user), User Role (user_role)<br>
        </p>
        <pre><code class="language-php">\Drupal\Core\Entity\EntityTypeInterface</code></pre>
      </section>
      <section>
        <h3>Entity</h3>
        <p>
          A generic concept to store and access data.
          A specific entity, identified by entity type and ID.
        </p>
        <h4>Examples</h4>
        <p>
          Node 1, User 17.
        </p>
        <pre><code class="language-php">\Drupal\Core\Entity\EntityInterface
\Drupal\node\Entity\Node (\Drupal\node\NodeInterface)</code></pre>
      </section>
      <section>
        <h3>Content entity (types)</h3>
        <p>
          A group of entity types that use fields and typed data. Many more
          features like revisions, translations. Complex but predictable data
          structures.
        </p>
        <h4>Examples</h4>
        <p>
          Node, User, File, Term.
        </p>
        <pre><code class="language-php">\Drupal\Core\Entity\ContentEntityInterface</code></pre>
      </section>
      <section>
        <h3>Config entity (types)</h3>
        <p>
          A group of entity types that use the config system as storage.
          Machine names as ID, inherits features of config (export, deploy,
          config translations). Plain data. Often uses one or multiple plugins.
        </p>
        <h4>Examples</h4>
        <p>
          User Role, Vocabulary, Node Type, Block, View
        </p>
        <pre><code class="language-php">\Drupal\Core\Config\Entity\ConfigEntityInterface</code></pre>
      </section>
      <section>
        <h3>Handlers</h3>
        <p>
          An extensible system to add functionality to entity types that can be
          customized per entity type.
        </p>
        <h4>Examples</h4>
        <p>
          Storage, Access Control Handler, Forms, View Builder, Views Data
        </p>
      </section>
      <section>
        <h3>Bundles</h3>
        <p>
          Variants/subtypes of content entities that can have different fields, form/view displays, templates.
        </p>
        <p>
          Bundles are often managed as config entities themselves but do not have to be, can be other plugins or
          hardcoded.
        </p>
        <h4>Examples</h4>
        <p>
          Node: Node type, Term: Vocabulary, Media: Media type.
        </p>
        <pre><code class="language-php">$entity->bundle(), hook_entity_bundle_info()</code></pre>
      </section>
      <section>
        <h3>Typed data</h3>
        <p>
          A generic API to describe data and data structures. Entities and related objects are either typed data or
          a typed data representation of it can be accessed.
        </p>
        <p>
          A list contains N items with the same definition, complex data (map)
          contains a fixed amount of items identified by a key.
        </p>
        <pre><code class="language-php">\Drupal\Core\TypedData\TypedDataInterface
\Drupal\Core\TypedData\PrimitiveValues
\Drupal\Core\TypedData\ListInterface
\Drupal\Core\TypedData\ComplexDataInterface</code></pre>
      </section>
    </section>
    <section>
      <section><h2 class="r-fit-text">Basic API</h2></section>
      <section>
        <h3>CRUD</h3>
        <pre><code class="language-php" data-line-numbers="1|2-4|5-9|10-11|12-13" data-trim>
$s = \Drupal::entityTypeManager()->getStorage('entity_type');
// Create an entity.
$entity = $s->create(['type' => 'page', 'title' => 'My page']);
$entity == Node::create();
// Load
$entity = $s->load(1);
$entities = $s->loadMultiple([1,2,3]);
$entity = Node::load(1);
$entities = Node::loadMultiple([1,2,3]);
// Save
$entity->save();
// Delete
$entity->delete();
</code></pre>
      </section>
      <section>
        <h3>Entity Query</h3>
        <p>Find entities based on their values, works for content and config entities. <a href="https://api.drupal.org/api/drupal/core!lib!Drupal!Core!Entity!entity.api.php/group/entity_api/9.3.x#load_query">API documentation</a></p>
        <pre><code class="language-php" data-line-numbers="1-2|3-4|5-6|7-8|9-10|11-12" data-trim>
// Initialize a query object. Or: \Drupal::entityQuery('node')
$fids = $s->getQuery()
  // Conditions.
  ->condition('type', ['page', 'article'], 'IN')
  // Content entities support relationships.
  ->condition('uid.entity.roles', 'administrator', '=')
  // D10 requires to enable/disable access checks.
  ->accessCheck(TRUE)
  // Sorting.
  ->sort('changed', 'DESC')
  // Limit results.
  ->range(0, 100)
  ->execute();
</code></pre>
      </section>
      <section>
        <h3>Common methods</h3>
        <pre><code class="language-php" data-line-numbers="1-2|3-4|5-6" data-trim>
// Get the ID of an entity.
$entity->id();
// Get the label.
$entity->label();
// Get the UUID.
$entity->uuid();
// Get all the values as an array.
$entity->toArray();
</code></pre>
      </section>
      <section>
        <h3>URLs, Links and Link templates</h3>
        <p>Link templates define common URLs around entities, <a href="https://www.drupal.org/docs/drupal-apis/entity-api/link-templates">drupal.org/docs/drupal-apis/entity-api/link-templates.</a> Defaults to canonical, and edit-form for config entities.</p>
        <pre><code class="language-php" data-line-numbers="1-4|5-6|7-8" data-trim>
// Generate a URL Template and work with it.
$url = $entity->toUrl('canonical');
$url->toString();
$url->toRenderArray();
// Create a Link.
$link = $entity->toLink('Edit me', 'edit-form');
// Check if an entity has a certain link template.
$entity->hasLinkTemplate('edit-form');
</code></pre>
      </section>
      <section>
        <h3>Access</h3>
        <p>Allows to check if a user can view/update/delete or create an entity. <a href="https://api.drupal.org/api/drupal/core!lib!Drupal!Core!Entity!entity.api.php/group/entity_api/#sec_access">API documentation</a></p>
        <pre><code class="language-php" data-line-numbers="1-2|3-6|7-8|9-10|11-14" data-trim>
// Boolean check.
$entity->access('view|update|delete') == TRUE;
// Access object, to use further or check cacheability info.
$access = $entity->access('view', $account, TRUE);
$access->isAllowed();
$object->addCacheableDependency($access);
// Fields have access too.
$node->get('title')->access('view');
// Create access.
$etm->getAccesControlHandler('entity_type')->createAccess()
// Access has 3 states.
AccessResult::allowed();
AccessResult::neutral();
AccessResult::forbidden();
</code></pre>
      </section>
      <section>
        <h3>Hooks</h3>
        <p>React to things happening: <a href="https://api.drupal.org/api/drupal/core%21lib%21Drupal%21Core%21Entity%21entity.api.php/group/entity_crud/9.3.x">CRUD and viewing</a>, <a href="https://api.drupal.org/api/drupal/core!lib!Drupal!Core!Entity!entity.api.php/group/entity_api/9.3.x#sec_access">access</a>.</p>
        <pre><code class="language-php" data-line-numbers="1-3|4-6|7-11|12-14" data-trim>
// Before save, entities be changed.
function hook_entity_presave($entity) {
}
// After saving a new entity.
function hook_entity_insert($entity) {
}
// After saving an existing entity.
function hook_entity_update($entity) {
  // Check if a value changes on update.
  if ($entity->label() != $entity->original->label()
}
// Hooks also exist for specific entity types.
function hook_ENTITY_TYPE_presave() {
}

</code></pre>
      </section>
    </section>
    <section>
      <section><h2 class="r-fit-text">Content entities, fields, typed data</h2></section>
      <section>
        <h3>Structure</h3>
        <ul>
          <li>A content entity is a container/map of fields.</li>
          <li>A field is a list of field items</li>
          <li>A field item is a container/map of properties</li>
          <li>Properties are typed data: primitive values (integer, string, ..), objects (language, date, ..) or
            references to another entity
          </li>
        </ul>
      </section>
      <section>
        <h3>Interfaces</h3>
        <table class="smaller">
          <thead>
          <tr>
            <th>Name</th>
            <th>Interface</th>
            <th>Typed Data</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Entity</td>
            <td>ContentEntityInterface</td>
            <td>::getTypedData()<br/>EntityAdapter (complex data)</td>
          </tr>
          <tr>
            <td>Field</td>
            <td>FieldItemListInterface</td>
            <td>ListInterface</td>
          </tr>
          <tr>
            <td>Field&nbsp;item</td>
            <td>FieldItemInterface</td>
            <td>ComplexDataInterface</td>
          </tr>
          <tr>
            <td>Property</td>
            <td colspan="2">PrimitiveInterface (non-computed, stored properites) or TypedDataInterface</td>
          </tr>
          </tbody>
        </table>
      </section>
      <section>
        <h3>Field types</h3>
        <ul>
          <li>Field types are defines as plugins with annotations</li>
          <li>Represent the field item class</li>
          <li>Define their children (properties)</li>
          <li>Optionally provide a field item list class as well</li>
        </ul>
      </section>
      <section>
        <h3>Accessing and setting values</h3>
        <h4>Accessing a field property</h4>
        <pre><code class="language-php" data-line-numbers="1-2|3-4|5-6|7-8" data-trim>
// Complete
$entity->get('field')->get(0)->get('property')->getValue();
// Array access
$entity->get('field')[0]->get('property')->getValue();
// __get() for properties equals ->get('property)->getValue();
$entity->get('field')[0]->property;
// Delta 0 is the default for properties when using __get()
$entity->get('field')->property;
</code></pre>
      </section>
      <section>
        <h3>Accessing and setting values</h3>
        <h4>Setting values</h4>
        <pre><code class="language-php" data-line-numbers="1-2|3-4|5-6|7-8|9-10|11-12" data-trim>
// Complete
$entity->get('field')->get(0)->get('property')->setValue('myvalue');
// Magic
$entity->get('field')->property = 'myvalue';
// ContentEntityInterface::set(), single/main property.
$entity->set('field', 'myvalue');
// ContentEntityInterface::set(), multiple properties.
$node->set('body', ['value' => 'Hello', 'format' => 'plain_text']);
// ContentEntityInterface::set(), multiple items.
$user->set('roles', ['content_editor', 'administrator']);
// Append an item.
$user->get('roles')->appendItem('administrator');
</code></pre>
      </section>
      <section>
        <h3>Accessing and setting values</h3>
        <h4><code>getValue()</code></h4>
        <pre><code class="language-php" data-line-numbers="1-3|4-6|7-12|13-15" data-trim>
// On a field item.
 $user->get('roles')[0]->get('target_id')->getValue()
=> "content_editor"
// On a field item.
$user->get('roles')[0]->getValue();
=> ["target_id" => "content_editor"]
// On a field.
$user->get('roles')->getValue();
=> [
    0 => ["target_id" => "content_editor"],
    1 => ["target_id" => "administrator"],
   ]
// Shorthand, get a single property of all items.
array_column($user->get('roles')->getValue(), 'target_id')
=> ["content_editor", "administrator"]
</code></pre>
      </section>
      <section>
        <h3>Accessing and setting values</h3>
        <h4><code>Loops</code></h4>
        <pre><code class="language-php" data-line-numbers="1-2|3-7" data-trim>
// Loop over all fields of an entity.
foreach ($entity as $field_name => $field) {
  // Loop over all items of a field.
  foreach ($field as $item) {
    if ($item->entity) {
    }
  }
}
</code></pre>
      </section>
      <section>
        <h3>Field definition</h3>
        <ul>
          <li>
            <code>FieldStorageDefinitionInterface</code><br/>
            Shared between bundles, information and settings that are used for
            the storage (table definition): Type, machine name, storage settings, type, entity type, cardinality, ...
          </li>
          <li>
            <code>FieldDefinitionInterface</code><br/>
            Remaining configuration that can vary between bundles for the same field machine name: Label, bundle,
            settings, required, ...
          </li>
        </ul>
      </section>
      <section>
        <h3>Base fields</h3>
        <ul>
          <li>
            <code>BaseFieldDefinition implements FieldStorageDefinitionInterface, FieldDefinitionInterface</code><br/>
            Base fields are defined in code, in <code>::baseFieldDefinitions</code> of the entity class and shared across
            all bundles.
          </li>
        </ul>
      </section>
      <section>
        <h3>Configurable fields</h3>
        <ul>
          <li>
            <code>FieldStorageConfig implements FieldStorageDefinitionInterface</code><br/>
            Storage settings for configurable fields (first step of creating a field in the UI)
          </li>
          <li>
            <code>FieldConfig implements FieldDefinitionInterface</code><br/>
            Field definition for configurable fields (second step of creating a field in the UI)
          </li>
        </ul>
      </section>
      <section>
        <h3>Field definition</h3>
        <h4>Accessing field definitions with an entity</h4>
        <pre><code class="language-php" data-line-numbers="1|2|3|4" data-trim>
  $entity->getFieldDefinitions();
  $entity->getFieldDefinition('field_name')
  $entity->get('field_name')->getFieldDefinition()
  $field_definition->getFieldStorageDefinition()
          </code></pre>
      </section>
      <section>
        <h3>Field definition</h3>
        <h4>Accessing field definitions without an entity</h4>
        <pre><code class="language-php" data-line-numbers="1|2|3" data-trim>
  $efm = \Drupal::service('entity_field.manager')
  $efm->getFieldStorageDefinitions($entity_type_id)
  $efm->getFieldDefinitions($entity_type_id, $bundle)
          </code></pre>
      </section>
      <section>
        <h3>Do's, Don'ts and gotchas</h3>
        <h4>Property names vs. generic methods</h4>
        <pre><code class="language-php" data-line-numbers="1-5|6-9" data-trim>
  $node->get('title')->value
  // is shorthand for
  $node->get('title')->get('value')->getValue()
  // And not the same as
  $node->get('title')->getValue()
  // ->entity on entity reference fields is the target.
  $user->get('roles')->entity == $role;
  // ->getEntity() is the host/parent entity.
  $user->get('roles')->getEntity() == $user;
  </code></pre>
      </section>
      <section>
        <h3>Do's, Don'ts and gotchas</h3>
        <h4>Magic methods on content entities</h4>
        <pre><code class="language-php" data-line-numbers="1-3|4-7|8-9" data-trim>
$node->title->value
// is shorthand for
$node->get('title')->value
// __get()/__set() support non-fields, get() does not:
$node->foo = 'bar';
// throws an exception:
$node->set('foo', 'bar');
// Various "API"s in rely on this behavior at the moment:
$entity->original, $entity->view, $entity->_referringItem;
  </code></pre>
        <p><strong style="color:red">Recommendation: Avoid for fields</strong> <a href="https://www.drupal.org/project/drupal/issues/3281720">#3281720</a></p>
      </section>
    </section>
    <section>
      <section><h2 class="r-fit-text">Revisions, Content moderation</h2></section>
      <section>
        <h3>Overview</h3>
        <ul>
          <li>Content entities can be revisionable</li>
          <li>An entity always has a default revision</li>
          <li>An entity can be saved as a new revision</li>
          <li>A new revision can be the new default revision or not, in which case it becomes a pending forward revision (drafts)</li>
        </ul>
      </section>
      <section>
        <h3>Revision API</h3>
        <pre><code class="language-php" data-line-numbers="1|2-3|4-7|8-11" data-trim>
ContentEntityInterface implement ...\RevisionableInterface.
// Get the current revision ID.
$entity->getRevisionId();
// Is/was the default revision or is latest revision.
$entity->isDefaultRevision();
$entity->wasDefaultRevision();
$entity->isLatestRevision();
// Set a new non-default revision.
$entity->setNewRevision(TRUE);
$entity->isDefaultRevision(FALSE);
$entity->save();
  </code></pre>
      </section>
      <section>
        <h3>Content moderation</h3>
        <ul>
          <li>User interface to create pending forward revisions</li>
          <li>Forces new revisions on every save unless marked as sync (<code>::setSyncing(TRUE)</code>)</li>
          <li>Configurable workflows with states (published, draft, archived) and transitions (publish, archive)</li>
          <li>Only a single entity can be viewed as a draft at once (Exception: paragraphs/ERR)</li>
        </ul>
      </section>
      <section>
        <h3>Workspaces</h3>
        <ul>
          <li>Make changes to multiple entities, view the whole site in that state and publish together</li>
          <li>View the whole site in that state</li>
          <li>Publish together</li>
        </ul>
      </section>
      <section>
        <h3>Revision graph</h3>
        <img src="images/revision_graph.png" />
      </section>
    </section>
    <section>
      <section><h2 class="r-fit-text">Content translation</h2></section>
      <section>
        <h3>Overview</h3>
        <ul>
          <li>Content entities can be translatable</li>
          <li>An entity always has a default translation</li>
          <li>Translations can be added and removed</li>
          <li>Each field is either translatable or not, in which case it has the same value in all translations</li>
        </ul>
      </section>
      <section>
        <h3>Translation API</h3>
        <pre><code class="language-php" data-line-numbers="1-2|3-4|5-6|7-8|9-10" data-trim>
// Get the current language.
$entity->language()->getId();
// Check if a translation exists.
$entity->hasTranslation('de');
// Get a specific translation.
$translation = $entity->getTranslation('de');
// Add a translation.
$translation = $entity->addTranslation('de', $values);
// Remove a translation.
$entity->removeTranslation('de');
  </code></pre>
      </section>
      <section>
        <h3>Safely get a translation or fallback</h3>
        <pre><code class="language-php" data-trim>
$er = \Drupal::service('entity.repository');
$translation = $er->getTranslationFromContext($entity, 'de');
  </code></pre>
      </section>
      <section>
        <h3>Translations and revisions</h3>
        <ul>
          <li>Each revision contains all currently existing translations and their values</li>
          <li>Revisions track which languages changed in them</li>
          <li>To merge changes, only one translation may change in a given revision</li>
          <li>New pending forward revisions of translations are based on the current published default language revision</li>
        </ul>
      </section>
      <section>
        <h3>Revision graph translation drafts</h3>
        <img src="images/revision_graph_translation_drafts.png" />
      </section>
      <section>
        <h3>Publishing translations</h3>
        <ul>
          <li>Publishing a pending forward translation revision creates a new revision from the default translation and then copies all translatable fields values</li>
        </ul>
      </section>
      <section>
        <h3>Revision graph translation published</h3>
        <img src="images/revision_graph_translation_merged.png" />
      </section>
    </section>
    <section>
      <section><h2 class="r-fit-text">Entity Storage</h2></section>
      <section>
        <h3>Overview</h3>
        <ul>
          <li>Each entity type has a storage handler responsible for CRUD operations on entities</li>
          <li>Default storage handler for content entities is SqlContentEntityStorage</li>
          <li>Content entity storage is also responsible to maintain the schema for fields (storage schema handler)</li>
        </ul>
      </section>
      <section>
        <h3>Tables</h3>
        <ul>
          <li>Fields are stored in shared or dedicated tables</li>
          <li>Content entities have between 1 to 4 shared tables</li>
          <li>Only base fields with a cardinality of 1 are stored in shared tables</li>
          <li>One or two dedicated field table(s) for other fields</li>
        </ul>
      </section>
      <section>
        <h3>Shared tables</h3>
        <ul>
          <li>Defined in entity type annotation, currently no default</li>
          <li>base_table: Used by all entity types (node, users)</li>
          <li>data_table: Translatable entity types (node_field_data, users_field_data)</li>
          <li>revision_table: Revisionable entity types (node_revision)</li>
          <li>revision_data_table: Revisionable and translatable entity types (node_field_revision)</li>
        </ul>
      </section>
      <section>
        <h3>Dedicated tables</h3>
        <ul>
          <li>Automatically named: ENTITYTYPE__FIELD_NAME, ENTITY_TYPE_revision__FIELD_NAME</li>
          <li>Shortened to a hash of field name if otherwise too long</li>
          <li>Identified by entity id, revision id, langcode, delta</li>
          <li>Additionally contains bundle and deleted flag to support field deletion</li>
        </ul>
      </section>
      <section>
        <h3>Shared table example: node</h3>
        <pre><code class="language-sql" data-trim>
> SELECT nid, vid, langcode FROM node;
+-----+------+----------+
| nid | vid  | langcode |
+-----+------+----------+
|   1 |    2 | en       |
+-----+------+----------+
  </code></pre>
      </section>
      <section>
        <h3>Shared table example: node_field_data</h3>
        <pre><code class="language-sql" data-trim>
> SELECT nid, vid, langcode AS lang, status,title,
  default_langcode AS def, revision_translation_affected AS affected
  FROM node_field_data;
+-----+-----+------+--------+------------+-----+----------+
| nid | vid | lang | status | title      | def | affected |
+-----+-----+------+--------+------------+-----+----------+
|   1 |   2 | de   |      1 | Example DE |   0 |        1 |
|   1 |   2 | en   |      1 | Example EN |   1 |     NULL |
+-----+-----+------+--------+------------+-----+----------+
  </code></pre>
      </section>
      <section>
        <h3>Shared table example: node_revision</h3>
        <pre><code class="language-sql" data-trim>
> select nid, vid, langcode, revision_default from node_revision;
+-----+-----+----------+------------------+
| nid | vid | langcode | revision_default |
+-----+-----+----------+------------------+
|   1 |   1 | en       |                1 |
|   1 |   2 | en       |                1 |
|   1 |   3 | en       |                0 |
|   1 |   4 | en       |                0 |
+-----+-----+----------+------------------+
  </code></pre>
      </section>
      <section>
        <h3>Shared table example: node_field_revision</h3>
        <pre><code class="language-sql" data-trim>
> SELECT nid,vid,langcode AS lang,title,status,default_langcode AS def,revision_translation_affected As affected FROM node_field_revision;
+-----+-----+------+------------------+--------+-----+----------+
| nid | vid | lang | title            | status | def | affected |
+-----+-----+------+------------------+--------+-----+----------+
|   1 |   1 | en   | Example EN       |      1 |   1 |        1 |
|   1 |   2 | de   | Example DE       |      1 |   0 |        1 |
|   1 |   2 | en   | Example EN       |      1 |   1 |     NULL |
|   1 |   3 | de   | Example DE       |      1 |   0 |     NULL |
|   1 |   3 | en   | Example EN Draft |      0 |   1 |        1 |
|   1 |   4 | de   | Example DE       |      1 |   0 |     NULL |
|   1 |   4 | en   | Example EN       |      1 |   1 |     NULL |
|   1 |   4 | fr   | Example FR Draft |      0 |   0 |        1 |
+-----+-----+------+------------------+--------+-----+----------+
  </code></pre>
      </section>
    </section>
    <section>
      <section><h2 class="r-fit-text">Displaying entities</h2></section>
      <section>
        <h3>Overview</h3>
        <ul>
          <li>EntityViewBuilder is responsible for converting an entity to a render array for a given view mode</li>
          <li>Two-step process due to render caching: view() only prepares a minimal render array, build does almost all the work</li>
          <li>Each field is prepared using a field formatter</li>
          <li>Configuration stored in view displays for a given bundle</li>
          <li>Twig templates for the entity and each field</li>
        </ul>
      </section>
      <section>
        <h3>View API</h3>
        <pre><code class="language-php" data-line-numbers="1-3|4-5|6-11" data-trim>
// Render an entity.
$view_builder = $entity_type_manager->getViewBuilder('node');
$build = $view_builder->view($entity, 'teaser');
// Render a single field using configuration for a given view mode.
$build = $entity->get('body')->view('teaser');
// Render a field using fixed configuration.
$build = $entity->get('body')->view([
  'label' => 'hidden',
  'type' => '...',
  'settings' => [],
);
  </code></pre>
      </section>
      <section>
        <h3>View modes & displays</h3>
        <ul>
          <li>A view mode is for an entity type, indicates that a given entity may be viewed in a given way</li>
          <li>View displays are for a given bundle, contain formatter settings and order for each enabled component</li>
          <li>A non-existing view display falls back to "default"</li>
        </ul>
      </section>
      <section>
        <h3>Twig: Overview</h3>
        <ul>
          <li>No generic implementation for entity templates, theme suggestions and available variables</li>
          <li>Some common standards, but each entity type is responsible to implement them itself</li>
          <li>Required: An entity template (often with theme suggestions for bundles and view modes), a preprocess function</li>
          <li>Look for template_preprocess_ENTITY_TYPE() to learn what is available</li>
        </ul>
      </section>
      <section>
        <h3>Twig: Node template</h3>
        <ul>
          <li>Theme suggestions: node--VIEW-MODE, node--BUNDLE, node--BUNDLE--VIEW-MODE</li>
          <li><code>content</code>: Render arrays for each field created based on configured formatters</li>
          <li><code>node</code>: The entity object, useful to check raw values</li>
          <li>Avoid <code>elements</code>, it contains fields too, <code>content</code> exists because <code>{{ elements }}</code> would be an endless recursion</li>
        </ul>
      </section>
      <section>
        <h3>Twig: Display fields</h3>
        <pre><code class="language-twig" data-line-numbers="1-2|3-4" data-trim>
{# Display a single field including wrapping field template #}
{{ content.field_foo }}
{# Display first delta of a field, without any wrapping HTML #}
{{ content.field_foo.0 }}}
  </code></pre>
      </section>
      <section>
        <h3>Twig: Check field values</h3>
        <pre><code class="language-twig" data-line-numbers="1-4|5-10" data-trim>
{# Display a field if it has value #}
{% if node.field_name.value %}
<h2>{{ content.field_name.0 }}</h2>
{% end %}
{# Check for a field value on a referenced entity #}
{% if node.field_category.entity.field_highlight.value %}
  <strong>{{ content.field_category.0 }}</strong>
{% else %}
  {{ content.field_category.0 }}
{% end %}
  </code></pre>
      </section>
    </section>
    <section>
      <section><h2 class="r-fit-text">Bundle classes</h2></section>
      <section>
        <h3>Overview</h3>
        <ul>
          <li>Allows to define a single class per entity bundle to use instead of the default entity class</li>
          <li>Useful to abstract business logic away, making it everywhere, including twig templates</li>
          <li>Must extend from the entity class</li>
          <li>Drush 11 has a generator to create the required basic structure and hook</li>
          <li><a href="https://www.drupal.org/node/3191609">Change record</a></li>
        </ul>
      </section>
      <section>
        <h3>Define a bundle class</h3>
        <pre><code class="language-php" data-trim>
class BasicPage extends Node implements BasicPageInterface {

  // Implement whatever business logic specific to basic pages.
  public function hasHighlightCategory(): bool {
    if ($this->get('field_category')->entity) {
      return $this->get('field_category')->get('entity')
          ->get('field_highlight')->value;
    }
    return FALSE;
  }
}
  </code></pre>
      </section>
      <section>
        <h3>Set a bundle class</h3>
        <pre><code class="language-php" data-trim>
function mymodule_entity_bundle_info_alter(array &$bundles) {
  if (isset($bundles['node']['page'])) {
    $bundles['node']['page']['class'] = BasicPage::class;
  }
}
  </code></pre>
      </section>
      <section>
        <h3>Twig & entity bundle classes</h3>
        <p>Twig can use any method starting with get/has/is</p>
        <pre><code class="language-twig" data-trim>
{# Before #}
{% if node.field_category.entity.field_highlight.value %}

{# After #}
{% if node.hasHighlightCategory() %}

  </code></pre>
      </section>
    </section>
    <section>
      <h2>Resources</h2>
      <ul>
        <li><a href="https://www.drupal.org/docs/drupal-apis/entity-api">drupal.org/docs/drupal-apis/entity-api</a></li>
        <li><a href="https://api.drupal.org/api/drupal/core!lib!Drupal!Core!Entity!entity.api.php/group/entity_api">API Documentation</a></li>
      </ul>
    </section>
  </div>
</div>

<script src="dist/reveal.js"></script>
<script src="plugin/notes/notes.js"></script>
<script src="plugin/markdown/markdown.js"></script>
<script src="plugin/highlight/highlight.js"></script>
<script>
  // More info about initialization & config:
  // - https://revealjs.com/initialization/
  // - https://revealjs.com/config/
  Reveal.initialize({
    hash: true,
    slideNumber: 'c/t',

    // Learn about plugins: https://revealjs.com/plugins/
    plugins: [RevealMarkdown, RevealHighlight, RevealNotes]
  });
</script>
</body>
</html>
